:root {
  --gris: #fafafa;
  --primary: #e92d8b;
  --secondary: #552f92;
  --tertiary: #00c0cf;
  --cuaternary: #fccc07;
  --overlay: #000;
  --opacity: 0;
  /* --fondoImage: url("../assets/img/logos/munieca.webp"); */
  --fondoChat: url("../assets/img/logos/munieca.webp");
  --fondoImage: none;
  /*--fondoChat: none; */
  --text-color: #000;
  --fondo: #552f92;
  --fondo-chat: #e92d8b;
  --grisNav: #a2a2a2;
  --blanco: #fff;
  --borderBoton: #552f92;
  --colorBoton: #552f92;
  --titleUser: #fff;
  --nameUser: #fff;
  --bienvenida: #fff;
  --scrollColor: #fff;
  --scroll2Color: #fff;
  --userChatAdmin: #fff;
  --userColorChatAdmin: #fff;
  --fondoChatAdmin: #552f92;
  --userChat: #fff;
  --userColorChat: #fff;
}
/* 006341
af2727
75787b
43b02a
e63422
53565a */
